<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
<!-- CSS HERE -->
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">

    <!-- END CSS  -->

    <title>Student Clubs Platform</title>
    <link rel="shortcut icon" href='{%static "core/icons/SCP-logo.jpg"%}'>

</head>
<body>
{% include 'includes/navbar.html' %}

{%block navbar2%}
{%endblock navbar2 %}

 <div class="container">
    <ol class="breadcrumb my-4">
       {%block bread%}
        {%endblock bread%}
    </ol>
 </div>

<div class="container">
        {%block content%}
        {%endblock content%}
</div>

    <script src="{% static 'core/js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'core/js/popper.min.js' %}"></script>
    <script src="{% static 'core/js/bootstrap.min.js' %}"></script>
</body>
</html>